.container{
    background-image: url("https://i.pinimg.com/originals/4c/86/a9/4c86a99ab3f661481a6cb3e73c6b534a.jpg");
    width: 960px;
    height: 1050px;
    margin: auto;
    padding-top: 20px;
}

.longbox{
    width: 940px;
    height: 100px;
}

.box{
    background-color: white;
    float: left;
    opacity: 0.8;
}

.smallbox{
    margin-top:20px;
    margin-bottom: 30px;
    width: 220px;
    height: 220px;

}

.ml-10{
    margin-left: 10px;
}

.ml-20{
    margin-left: 20px;
}